---
layout: default
---
<article class="blog-post h-entry">
  {% if title and not reply %}
    <h1 class="p-name">
      <a href="{{ page.url | escape }}">{{ title | escape }}</a>
    </h1>
  {% endif %}

  {% render 'attribution', date: page.date, author: author, link: page.url %}
  {% if updated %}
    <time datetime="{{ updated | dateToRfc3339 }}" class="dt-updated"></time>
  {% endif %}

  {% if reply %}
    <data class="u-in-reply-to" value="{{ reply | escape }}"></data>
  {% endif %}

  {% assign simpleContent = content | simplifyContent %}
  {% if simpleContent != content %}
    <div class="blog-prose">{{ content }}</div>
    <div class="e-content simple-content">{{ simpleContent }}</div>
  {% else %}
    <div class="blog-prose e-content">{{ content }}</div>
  {% endif %}

  {% render 'tags', tags: tags, commentary: commentary %}

  <div class="commentbox"></div>
  <script src="https://unpkg.com/commentbox.io/dist/commentBox.min.js"></script>
  <script>
    commentBox('5765991539671040-proj', { sortOrder: 'oldest' });
  </script>
</article>
