---
layout: default
---
<article class="h-entry">
  {% if title %}
    <h1 class="p-name">
      <a href="{{ page.url }}">{{ title }}</a>
    </h1>
  {% endif %}

  {% render 'attribution', date: page.date, author: author, link: page.url %}
  {% if updated %}
    <time datetime="{{ updated | dateToRfc3339 }}" class="dt-updated"></time>
  {% endif %}

  {% assign simpleContent = content | simplifyContent %}
  {% if simpleContent != content %}
    <div>{{ content }}</div>
    <div class="e-content simple-content">{{ simpleContent }}</div>
  {% else %}
    <div class="e-content">{{ content }}</div>
  {% endif %}

  {% render 'tags', tags: tags %}

  <div class="commentbox"></div>
  <script src="https://unpkg.com/commentbox.io/dist/commentBox.min.js"></script>
  <script>
    commentBox('5765991539671040-proj', { sortOrder: 'oldest' });
  </script>
</article>
