---
layout: default
---
<article class="blog-post h-entry">
  {% if title %}
    <h1 class="p-name">
      <a href="{{ page.url | escape }}">{{ title | escape }}</a>
    </h1>
  {% endif %}

  {% render 'attribution', date: page.date, author: author, link: page.url %}
  {% if updated %}
    <time datetime="{{ updated | dateToRfc3339 }}" class="dt-updated"></time>
  {% endif %}

  {% assign simpleContent = content | simplifyContent %}
  {% if simpleContent != content %}
    <div class="blog-prose">{{ content }}</div>
    <div class="e-content simple-content">{{ simpleContent }}</div>
  {% else %}
    <div class="blog-prose e-content">{{ content }}</div>
  {% endif %}

  {% render 'tags', tags: tags, commentary: commentary %}

  {% if not repost %}
    {% assign url = page.url | htmlBaseUrl: site.url %}
    {% render 'web-mentions', webMentions: webMentions, url: url %}

    {% if eleventy.env.runMode != 'serve' %}
      <script defer src="https://comments.friendsofeggbug.org/comentario.js"></script>
      <comentario-comments theme="light" no-fonts="true"></comentario-comments>
    {% endif %}
  {% endif %}
</article>
