<div class="cohost-post-wrapper embed">
  <a class="co-avatar-large" href="https://cohost.org/{{ author }}">
    <img
      src="/assets/cohost/{{ author }}.jpg"
      class="co-mask-{{ avatarShape }} embed-image"
      alt="{{ author }}"
      width="64"
    >
  </a>
  <article>
    <header>
      <div>
        <a class="co-avatar-small" href="https://cohost.org/{{ author }}">
          <img src="/assets/cohost/{{ author }}.jpg" class="co-mask-{{ avatarShape }}" alt="{{ author }}">
        </a>
        <a rel="author" href="https://cohost.org/{{ author }}" title="{{ authorDisplayName }}">
          {{- authorDisplayName -}}
        </a>
        <a href="https://cohost.org/{{ author }}" class="co-handle">@{{ author }}</a>
        {%- render 'date', date: time, link: url, class: 'embed-link' -%}
      </div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        aria-hidden="true"
        class="co-action-button h-6 w-6 transition-transform ui-open:rotate-90"
      >
        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM18.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"></path>
      </svg>
    </header>
    <hr>
    <div class="co-prose-box">
      <div class="co-prose embed-prose">{{ contents }}</div>
    </div>
    {%- if tags.size > 0 -%}
      <div class="co-tags-box">
        <div class="co-tags">
          {%- for tag in tags -%}
            <a href="https://cohost.org/{{ author }}/tagged/{{ tag | url_encode }}">#{{ tag }}</a>
          {%- endfor -%}
        </div>
      </div>
    {%- endif -%}
    <hr>
    <footer>
      <div>
        <div class="co-comments">
          <a href="{{ url }}#comments">
            {{- commentCount }} comment
            {%- if comment != 1 -%}s{%- endif -%}
          </a>
        </div>
        <div class="co-icons">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
            class="h-6 w-6 co-action-button "
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99"></path>
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            aria-hidden="true"
            class="w-6 h-6 pointer absolute top-0 left-0 text-cherry invisible"
          >
            <path d="M11.645 20.91l-.007-.003-.022-.012a15.247 15.247 0 01-.383-.218 25.18 25.18 0 01-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0112 5.052 5.5 5.5 0 0116.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 01-4.244 3.17 15.247 15.247 0 01-.383.219l-.022.012-.007.004-.003.001a.752.752 0 01-.704 0l-.003-.001z"></path>
          </svg>
        </div>
      </div>
    </footer>
  </article>
</div>
