<a
  class="attribution attribution-external u-url {{ class }}"
  href="{{ url }}"
  {% if nofollow %}
    rel="nofollow"
  {% endif %}
>
  {% if author %}
    <span class="p-author h-card mention">
      {% if authorAvatar %}
        <data class="u-photo" value="{{ authorAvatar | escape }}"></data>
      {% endif %}
      {% if authorUrl %}
        <data value="{{ authorUrl | escape }}" class="u-url"></data>
      {%- endif -%}
      {{ author | escape }}
    </span>
  {% endif %}
  {{ verb | default: 'posted' | escape }}
  {% if date %}
    {% render 'date', date: date, class: 'dt-published' %}
  {% endif %}
  {% unless url | isSiteUrl %}
    on
    {{ url | urlHostname | escape }}
  {% endunless %}
</a>
