<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ title | escape }}</title>
  <id>{{ pageUrl | htmlBaseUrl: site.url }}</id>
  <link href="{{ permalink | htmlBaseUrl: site.url }}" rel="self"/>
  <link href="{{ pageUrl | htmlBaseUrl: site.url }}" />
  <updated>{{ posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  {%- assign posts = posts | reverse -%}
  {%- for post in posts limit:15 -%}
    {%- assign absolutePostUrl = post.url | htmlBaseUrl: site.url %}
    <entry>
      <title>{{ post.data.title | escape }}</title>
      <link href="{{ absolutePostUrl }}" rel="alternate"/>
      <id>{{ absolutePostUrl }}</id>
      <published>{{ post.date | dateToRfc3339 }}</published>
      <updated>{{ post.data.updated | default: post.date | dateToRfc3339 }}</updated>
      <author>
        {%- if post.data.author.name -%}
          <name>{{ post.data.author.name | escape }}</name>
          {%- if post.data.author.uri -%}
            <uri>{{ post.data.author.uri | escape }}</uri>
          {%- endif -%}
          {%- if post.data.author.email -%}
            <email>{{ post.data.author.email | escape }}</email>
          {%- endif -%}
        {%- elsif post.data.author == "Natalie" -%}
          <name>Natalie</name>
          <uri>https://nex-3.com/</uri>
        {%- else -%}
          <name>{{ post.data.author | escape }}</name>
        {%- endif -%}
      </author>
      {%- for tag in post.data.tags -%}
        {%- unless tag == "blog" -%}
          <category>{{ tag | escape }}</category>
        {%- endunless -%}
      {%- endfor -%}      
      <content type="html">{{ post.templateContent | renderTransforms: post.data.page, site.url | escape }}</content>
    </entry>
  {% endfor %}
</feed>
