{%- if description.size > 0 -%}
  <figure
    class="image"
    {%- if style -%}
      style="{{style | escape}}"
    {%- endif -%}
  >
{%- endif -%}

<a href="{{url}}">
  <img
    src="{{url}}"
    {%- unless description.size > 0 -%}
      {%- if style %}style="{{style | escape}}"{% endif -%}
    {%- endunless -%}
    {%- if alt -%}
      alt="{{alt | escape}}"
    {%- endif -%}
  >
</a>

{%- if description.size > 0 -%}
  <figcaption>
    <details>
      <summary>detailed image description</summary>
      {{- description | markdown -}}
    </details>
  </figcaption>
  </figure>
{%- endif -%}
