<h2 class="wm-header">Webmentions ({{ webMentions | size }})</h2>
<form class="wm-form" action="https://webmention.io/nex-3.com/webmention">
  <label for="wm-source">Mentioned this post on your site? Send me the link:</label>
  <div>
    <input type="url" name="source" id="wm-source">
    <input type="submit" value="Send">
    <input type="hidden" name="target" value="{{ url | escape }}">
  </div>
</form>

{% if webMentions.size > 0 %}
  <ol class="web-mentions">
    {% for mention in webMentions %}
      <li class="u-comment h-cite">
        {% if mention.author %}
          {% if mention.author.logo %}
            <a
              class="wm-avatar"
              {% if mention.author.url %}
                href="{{ mention.author.url | escape }}" rel="nofollow"
              {% endif %}
              ><img
                src="{{ mention.author.logo.value | escape }}"
                {% if mention.author.logo.alt %}
                  alt="{{ mention.author.logo.alt | escape }}"
                {% endif %}
            ></a>
          {% endif %}
        {% endif %}

        {% render 'external-attribution',
          url: mention.url,
          verb: 'Mentioned',
          nofollow: true,
          date: mention.published,
          author: mention.author.name,
          authorUrl: mention.author.url,
          authorAvatar: mention.author.logo
        %}

        {% if mention.content %}
          <div class="e-content">{{ mention.content.html }}</div>
        {% endif %}
      </li>
    {% endfor %}
  </ol>
{% endif %}
