<div
  class="
    generic-post-wrapper h-entry
    {% if reply %}u-in-reply-to{% else %}u-repost-of{% endif %}
  "
>
  {% if inReplyUrl %}
    <div class="u-in-reply-to h-cite">
      <data name="u-url" value="{{ inReplyUrl | escape }}"></data>
      {% if inReplyTitle %}
        <data name="p-name" value="{{ inReplyTitle | escape }}"></data>
      {% endif %}
      {% if inReplyAuthor %}
        <data name="p-author" value="{{ inReplyAuthor | escape }}"></data>
      {% endif %}
    </div>
  {% endif %}

  {% if authorAvatar %}
    <a class="gp-avatar" href="{{ authorUrl | default: url | escape }}">
      <img
        src="{{ authorAvatar | escape }}"
        {% if authorAvatarAlt or author %}
          alt="{{ authorAvatarAlt | default: author | escape }}"
        {% endif %}
        width="64"
      >
    </a>
  {% endif %}

  {% if quote %}<blockquote cite="{{ url }}">{% else %}<article>{% endif %}
  <header>
    {% render 'external-attribution',
      url: url,
      date: date,
      author: author,
      authorUrl: authorUrl,
      authorAvatar: authorAvatar
    %}
  </header>

  <div>
    {% if title %}
      <h1 class="p-name">
        <a href="{{ url | escape }}">{{ title | escape }}</a>
      </h1>
    {% endif %}
    <div class="gp-prose e-content">
      {{- contents -}}
      {%- if quote -%}
        <p><a href="{{ url | escape }}" class="read-more" title="Read More">…</a></p>
      {%- endif -%}
    </div>
    {%- if tags.size > 0 -%}
      <ul class="gp-tags">
        {%- for tag in tags -%}
          <li class="p-category">#{{ tag | escape }}</li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
  </div>
  {% if quote %}</blockquote>{% else %}</article>{% endif %}

  {% if via %}
    <div class="h-cite">
      {% if viaUrl %}<a href="{{ viaUrl | escape }}" class="u-url">{% endif -%}
      {% if viaTitle %}
        <data class="p-name" value="{{ viaTitle | escape }}"></data>
      {% endif %}
      {% if viaDate %}
        <time class="dt-published" datetime="{{ viaDate | escape }}"></time>
      {% endif %}
      <div class="p-author h-card">
        <span>
          via
          <span class="p-name">{{ via | escape }}</span>
        </span>
        {% if viaAuthorUrl %}
          <data class="u-url" value="{{ viaAuthorUrl | escape }}"></data>
        {%- endif -%}
        {%- if viaAuthorAvatar -%}
          <img
            class="u-photo"
            src="{{ viaAuthorAvatar | escape }}"
            alt="{{ viaAuthorAvatarAlt | default: via | escape }}"
          >
        {%- endif -%}
      </div>
      {%- if viaUrl %}</a>{% endif -%}
    </div>
  {% endif %}
</div>
