{%- if description or caption or title -%}
  <figure
    class="image"
    {% if style %}
      style="{{style | escape}}"
    {% endif %}
  >
{%- endif -%}

<a href="{{link | default: url}}">
  <img
    src="{{url}}"
    {% unless description or caption or title %}
      {% if style %}style="{{style | escape}}"{% endif %}
    {% endunless %}
    {% if alt %}
      alt="{{alt | escape}}"
    {% endif %}
  >
</a>

{% if description or caption or title %}
  <figcaption>
    {% if title %}
      <h6>{{ title | escape }}</h6>
    {% endif %}
    {% if description %}
      <details>
        <summary>detailed image description</summary>
        {{ description | markdown }}
      </details>
    {% endif %}
    {% if caption %}{{ caption | markdown }}{% endif %}
  </figcaption>
  </figure>
{% endif %}
