<div class="letterboxd-post-wrapper h-entry">
  {% if poster %}
    <a
      href="https://letterboxd.com/film/{{ filmSlug }}/"
      target="_blank"
      rel="nofollow noopener"
      class="lb-poster"
      tabindex="0"
    >
      <img src="{{ poster }}" class="u-featured" width="150">
    </a>
  {% endif %}
  <article>
    <header>
      <div class="lb-info">
        <address class="p-author h-card">
          <data class="p-nickname">{{ author }}</data>
          {% if avatar %}
            <a
              class="lb-avatar u-logo"
              href="https://letterboxd.com/{{ author }}/"
              target="_blank"
              rel="nofollow noopener"
              tabindex="0"
            >
              <img
                src="{{ avatar }}"
                title="{{ authorDisplayName | escape }}"
                width="24"
                height="24"
              >
            </a>
          {% endif %}
          <span class="lb-context">Review by</span>
          <a
            class="lb-author u-url u-uid"
            href="https://letterboxd.com/{{ author }}/"
            target="_blank"
            rel="nofollow noopener author"
            tabindex="0"
          >
            <span class="p-name">{{ authorDisplayName | escape }}</span>
            {% if supporter %}
              <span class="lb-badge lb-badge-{{ supporter }}">
                {{- supporter | capitalize -}}
              </span>
            {% endif %}
          </a>
        </address>
        <h2 class="p-name">
          {{- film | escape }} ({{ year }})
          {% if rating -%}
            -
            {% render 'star-rating', rating: rating -%}
          {%- endif -%}
        </h2>
        <h2>
          <div>
            <a
              class="lb-title u-url u-uid u-repost-of"
              href="https://letterboxd.com/{{ author }}/film/{{ filmSlug }}/"
              target="_blank"
              rel="nofollow noopener"
              tabindex="0"
            >
              {{- film | escape -}}
            </a>
            <small>
              <a
                href="https://letterboxd.com/films/year/{{ year }}/"
                target="_blank"
                rel="nofollow noopener"
                tabindex="0"
              >
                {{- year -}}
              </a>
            </small>
          </div>
          {% if rating %}
            <span class="lb-rating lb-rating-{{ rating | times: 2 | round }}">
              {%- render 'star-rating', rating: rating -%}
            </span>
          {% endif %}
        </h2>
        <time datetime="{{ date | format: 'yyyy-MM-dd' }}" class="dt-published">
          Watched
          <a
            href="https://letterboxd.com/{{ author }}//films/diary/for/{{ date | format: 'yyyy/MM' }}/"
            target="_blank"
            rel="nofollow noopener"
            tabindex="0"
          >
            {{- date | format: 'MMM' -}}
          </a>
          <a
            href="https://letterboxd.com/{{ author }}//films/diary/for/{{ date | format: 'yyyy/MM/dd' }}/"
            target="_blank"
            rel="nofollow noopener"
            tabindex="0"
          >
            {{- date | format: 'd' -}}</a
          >,
          <a
            href="https://letterboxd.com/{{ author }}//films/diary/for/{{ date | format: 'yyyy' }}/"
            target="_blank"
            rel="nofollow noopener"
            tabindex="0"
          >
            {{- date | format: 'yyyy' -}}
          </a>
        </time>
      </div>
    </header>
    <div>
      {% if image %}
        <div class="lb-image"><img src="{{ image }}"></div>
      {% endif %}
      <div class="lb-prose e-content">{{ contents }}</div>
    </div>
  </article>
</div>
