<span class="mention h-card">
  {%- if prefix %}{{ prefix | escape }} {% endif -%}
  {%- if url and link -%}
    <a
      class="
        {{- textClasses | join: " " | escape }}
        {{ urlClasses | join: " " | escape -}}
      "
      href="{{ url | escape }}"
    >
      {{- text | escape -}}
    </a>
  {%- else -%}
    {% if url %}
    <data
      class="{{ urlClasses | join: " " | escape }}"
      href="{{ url | escape }}"
    ></data>
    {% endif %}
    <span class="{{ textClasses | join: " " | escape }}">{{ text | escape }}</span>
  {%- endif -%}
  {%- for pair in additionalData -%}
    <data class="{{ pair[0] | escape }}" value="{{ pair[1] | escape }}"></data>
  {%- endfor -%}
</span>
